{{- if not .Values.secrets.useExternalSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "codesourcerer.fullname" . }}-secrets
  labels:
    {{- include "codesourcerer.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.genai.env.GEMINI_API_KEY }}
  gemini-api-key: {{ .Values.genai.env.GEMINI_API_KEY | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.GITHUB_APP_ID }}
  github-app-id: {{ .Values.github.env.GITHUB_APP_ID | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.GITHUB_PRIVATE_KEY }}
  github-private-key: {{ .Values.github.env.GITHUB_PRIVATE_KEY | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.GITHUB_WEBHOOK_SECRET }}
  github-webhook-secret: {{ .Values.github.env.GITHUB_WEBHOOK_SECRET | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.PAT_TOKEN }}
  pat-token: {{ .Values.github.env.PAT_TOKEN | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.INSTALLATION_ID }}
  installation-id: {{ .Values.github.env.INSTALLATION_ID | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.BOT_EMAIL }}
  bot-email: {{ .Values.github.env.BOT_EMAIL | b64enc | quote }}
  {{- end }}
  {{- if .Values.github.env.PRIVATE_KEY_PATH }}
  private-key-path: {{ .Values.github.env.PRIVATE_KEY_PATH | b64enc | quote }}
  {{- end }}
{{- end }}
